.grdHeader
{
  border-bottom: 1px solid #535557;
  border-right-width: 0px;
  color: #535557;
  text-align: left;
  background-color: #ffffff;
  width: 50px;
}
.grdLinha
{
  padding: 3px;
  color: #535557;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
}
.grdLinhaTotal
{  
  background-color:#ffffff;
	padding:3px;
	color:#535557;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:right;

}
.grdViewSkin
{
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom: 1px solid #535557;
}
.grdCommandColumn
{
  text-align: right;
}
.grdAlternative
{
  background: #EAE8E8;
}
.grdFooter
{
  padding: 3px;
  color: #535557;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
}
.grdFooter a:hover
{
  padding: 3px;
  color: #535557;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
}
.tabCadastro td, .tabTransf td
{
  padding: 2px 0;
  text-align: center;
  font-size: 11px;
  color: #900;
}

.tabtransferencia td
{
  padding: 2px 0;
  font-size: 11px;
  color: #535557;
}

.tabTransfRend td
{
  padding: 4px 0;
}
.tabTransfRendGrig td
{
  padding-left: 3px;
  padding-right: 3px;
}
.tabCadastro td input
{
  width: 186px;
  height: 18px;
  background: #CCC;
  border: 0;
  font-size: 11px;
}
.grdHeaderImpressao
{
  border-bottom: 1px solid #7F7F7F;
  border-right: none;
  border-left: none;
  border-top: none;
  color: #7F7F7F;
  text-align: left;
  background-color: #ffffff;
}

.emptyDataRow td div
{
  padding: 5px;
  margin: 5px;
  color: #535557;
  font-size: 11px;
}