body {
    background-color: #dddddd;
    color: rgba(0,0,0,1);
}

div#interface {
    background-color: white;
    margin: 0px auto 10px auto;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}

/*Menu format*/
nav#menu {
    display: block;
}

nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    right: 20px;
    top: 0px;
}

nav#menu li {
    display: inline-block;
    background-color: rgba(0,0,0,.2);
    padding: 10px;
    margin: 2px;
    box-shadow: 1px 1px 3px rgba(0,0,0,.5);
}

nav#menu li:hover {
    background-color: rgba(0,0,0,.5);
    transition: 1s;
}

nav#menu a{
    color: rgb(0,0,0);
    text-decoration: none;
}

nav#menu a:hover{
    color: white;
}