body, button, div, td, input, p {

    font-weight: bold;
     font-family: 'Ubuntu', sans-serif;
}

#newUrl {
    font-weight: normal;
}

label {
    text-align: center;
}

.my, .site, .titleerr {
    max-width: 100%;
    border: none;
    text-align: center;
    vertical-align: top;
    color: black;
    background-color: rgba(0,0,0,0);
}

.my {
    color: blue;
}

.titleerr {
    color: red;
}

#loc{
    float:left;
    display: inline;
}

#mylocinput, #sitelocinput {
    padding-top:10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.has-tip, div.has-tip:hover {
    border-bottom: none;
    display: inline;
}

#drop2, #drop2 p, p i {
    margin :0px;
    vertical-align: center;
    padding: 0px 10px 0px 10px;
    color: red;
    background-color: #FBEFF2; 
    border-color: red;
}

p i {
    font-size: 30px;
}

button.btn {
    width: 100%;
    height: 30px;
    line-height: 2px;  
    padding: 0px 5px 0px 5px;
    margin: 0px auto 0px auto;
 }

.info, .trash, .err, .trasherr {
    width: 65%;
    height: 40px;
    line-height: 45px;  
    padding: 0px;
    margin: 0px 4px 0px;
    display: inline;
}

.info i, .trash i, .err i, .trasherr i, .load {
    text-align: center;
    font-size: 35px;
    display: inline;
}

.trash, .trasherr {
    width: 22%;    
}

.err, .trasherr:hover {
    color: red;
    background-color: #F5A9A9;
}

.err:hover, .trasherr {
    color: rgba(0,0,0,0.5);
    background-color: red;
}

 div.panel {
    padding: 5px 12px 5px 12px;
    margin: 7px;
 }

 input#newUrl{
    text-align:center;
    width:100%;
    margin-bottom:5px;
 }

/* map formatting */
#map-canvas {
    width: 100%;
    height: 430px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}

.myLocationLabel, .siteLabel {
    color: blue;
    background-color: white;
    padding: 0px 2px 0px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    max-width: 150px;     
    border: 2px solid black;
    white-space: nowrap;
    z-index: 1;
}

.siteLabel {
    color: black;
}